<%- include('../partials/header') %>

<div class="add-edit-form">
    <h2>Add a New Team</h2>
    <form action="/leagues/<%= leagueId %>/teams" method="POST">

        <span class="form-organizer">
            <label>Team Name:</label>
            <input type="text" name="name" id="team-input">
        </span>

        <span class="form-organizer">
            <label>Wins:</label>
            <input type="number" name="wins" value="0" id="wins">
        </span>

        <span class="form-organizer">
            <label>Losses:</label>
            <input type="number" name="losses" value="0" id="losses">
        </span>

        <span class="form-organizer">
            <label>Practice Schedule:</label>
            <input type="datetime-local" name="practices" id="practices">
        </span>

        <button type="submit" id="add-to-league">Add Team to League</button>
    </form>
</div>

<%- include('../partials/footer') %>