<%- include('../partials/header') %>

<div class="home-page">
    <h2 id="team-name"><%= team.name %></h2>
    <div id="team-properties">
        <div>
            <h4>ROSTER</h4>
        </div>

        <div>
            <h4>MATCH SCHEDULE</h4>
        </div>

        <div>
            <h4>PRACTICE SCHEDULE</h4>
        </div>
    </div>

    <div id="join-team">
        <a href="" id="join">JOIN TEAM</a>
    </div>
</div>

<%- include('../partials/footer') %>