<%- include('../partials/header') %>

<h2><%= team.name %></h2>
<div>
    <h4>ROSTER</h4>
</div>

<div>
    <h4>MATCH SCHEDULE</h4>
</div>

<div>
    <h4>PRACTICE SCHEDULE</h4>
</div>

<div>
    <a href="">JOIN TEAM</a>
</div>

<%- include('../partials/footer') %>