<%- include('./partials/header') %>

<div id="welcome">
    <h2>Your local tennis league starts here.</h2>
    <h4>Join a team at your skill level and track your squad's scores and results.</h4>
    <h4>Register now and start competing!</h4>
</div>

<%- include('./partials/footer') %>